<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <transition name="fade">
      <div class="loader" v-if="loader">
        <div class="spinner">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
      </div>
    </transition>
    <v-app>
      <v-main>
        <v-container>
          <v-row>
            <v-col class="text-center" cols="12" xs="12" sm="3">
              <v-list class="d-flex flex-column">
                <v-list-item-avatar size="120">
                  <img src="pic.png">
                </v-list-item-avatar>
                <v-list-item class="ml-n3">
                  <v-list-item-content>
                    <v-list-item-title class="font-weight-bold title">Carlos Domínguez</v-list-item-title>
                    <v-list-item-subtitle class="font-weight-light">{{profession[lang]}}</v-list-item-subtitle>
                    <v-list-item-subtitle class="font-weight-light mt-7">📧 crlsdmngz3@gmail.com</v-list-item-subtitle>
                    <v-list-item-subtitle class="font-weight-bold mt-7" v-for="(item, index) in flags" :key="index">
                      <span class="d-block mb-1">{{item.level}}</span>
                        <v-img
                        alt="http://www.freepik.com/"
                        contain
                        class="d-flex d-inline-flex mx-3"
                        @click="lang=country.value"
                        height="30"
                        :src="country.flag"
                        style="cursor: pointer"
                        v-for="(country, j) in item.countries"
                        :key="j"
                        width="30"
                        >
                      </v-img>
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>

            <v-divider vertical></v-divider>

            <v-col cols="12" xs="12" sm="8">
              <!-- <h3 class="text-center">🌏🔬👨🏻‍💻</h3> -->
              <br><br><br><br>
              <v-row class="ml-3 mb-6 mt-12" row wrap>
                <v-slider
                  color="lime"
                  :max="ticksLabels.length-1"
                  step="1"
                  thumb-color="none"
                  thumb-label
                  thumb-size="130"
                  tick-size="4"
                  ticks="always"
                  :tick-labels="ticksLabels"
                  track-color="yellow"
                  v-model="value"
                >
                  <template v-slot:thumb-label="item">
                    <v-card class="d-flex" width="300">
                      <v-avatar
                        class="ml-3 mt-4"
                        size="32"
                        tile
                      >
                        <v-img
                          :src="array[value].imagen"
                          alt="https://www.flaticon.es/autores/nikita-golubev"
                        ></v-img>
                      </v-avatar>
                      <v-card-title>{{array[value].titulo[lang]}}</v-card-tile>
                      <v-card-text
                        class="d-flex flex-row"
                      >
                        {{array[value].subtitulo}}
                      <v-img
                          alt="http://www.freepik.com/"
                          contain
                          class="mt-n1"
                          height="30"
                          :key="index"
                          :src="item"
                          v-for="(item, index) in array[value].subImg"
                          width="20"
                          >
                        </v-img>
                      </v-card-text>
                      </v-card>
                  </template>
                </v-slider>
              </v-row>
              <v-row no-gutters>
                <v-col v-for="(item, label, index) in array[value].lang" :key="index" cols="6" class="pa-3">
                  <div cols="12" xs="12">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <span class="font-weight-light mb-1" v-on="on">{{ label }}</span>
                      </template>
                      <span>{{infolang[index]}}</span>
                    </v-tooltip>
                    <v-progress-linear height="5" :value="item" color="lime" rounded></v-progress-linear>
                  </div>
                </v-col>
              </v-row>           
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        loader: true,
        value: 0,
        lang: 1,
        profession: ['Ingeniero de Software', 'Software Engineer', 'Engenheiro de Software', 'Ingegnere del Software', 'Enginyer de Software'],
        flags: [
          {
            level: '✔️',
            countries: [
              { value: 0, flag: 'esp.svg' },
              { value: 1, flag: 'usa.svg' },
              { value: 2, flag: 'bra.svg' }
            ]
          },
          {
            level: '👍',
            countries: [
              { value: 3, flag: 'it.svg' },
              { value: 4, flag: 'cat.svg' }
            ]
          }
        ],
        infolang: [
          '#include, functions, int *, struct, c++ class', //C
          'await fetch, --allow-[net-read], for await, WebAssembly, Workers',//Deno
          'Firestore, auth, analytics, cron, version',//"gCloud + Firebase"
          'checkout -b branch, log, merge --no-ff, reverse',//Git
          'abstract, extends, interface, implements, static',//Java
          'ArrowFunctions, Async/Await, Modules',//Js
          'SELECT, FROM, WHERE, GROUP BY, JOIN, HAVING, LIMIT, DROP TABLE',//MySql
          'find().sort().limit(), $gt, $lte',//MongoDB
          'npm, cors, jwt, middleware, axios',// Node
          'var_dumb, merge, fopen, echo 3*(print 5)+3;',//PHP
          'Flask, SqlAlchemy, FastApi',//Python
          'Hooks, Components, JSX',//React
          'vueCLI, Vuex, , "Blockchain + Polkadot": 0vuetif, "Blockchain + Polkadot": 0y, lifeCycle'//vue
          ],
        array: [
          {
            imagen: 'cerebro.svg',
            subtitulo: 'POO, SQL, Patterns23',
            titulo: ['Universidad', 'University', 'Universidad', 'Universidad', 'Universitat'],
            subImg: ['ven.svg',],
            lang: { C: 20, Deno: 0, "gCloud + Firebase": 0, Git: 0, Java: 20, Js: 10, MySql: 20, MongoDB: 0, "NodeJs + Express": 0, PHP: 20, Python: 0, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },
          {
            imagen: 'sensible.svg',
            subtitulo: 'Lex-Tempus',
            titulo: ['FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer'],
            subImg: ['ven.svg'],
            lang: { C: 30, Deno: 0, "gCloud + Firebase": 0, Git: 0, Java: 30, Js: 20, MySql: 30, MongoDB: 0, "NodeJs + Express": 0, PHP: 30, Python: 0, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },
          {
            imagen: 'travel.svg',
            titulo: ['Mochilero', 'Backpacker', 'Mochileiro', 'Saccopelista', 'Motxiller'],
            subImg: ['bra.svg','ven.svg'],
            lang: { C: 30, Deno: 0, "gCloud + Firebase": 0, Git: 0, Java: 30, Js: 20, MySql: 30, MongoDB: 0, "NodeJs + Express": 0, PHP: 30, Python: 0, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },          
          {
            imagen: 'bug.svg',
            subtitulo: 'HyperPBX',
            titulo: ['FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer'],
            subImg: ['arg.svg'],
            lang: { C: 50, Deno: 0, "gCloud + Firebase": 0, Git: 30, Java: 50, Js: 30, MySql: 30, MongoDB: 0, "NodeJs + Express": 0, PHP: 50, Python: 0, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },          
          {
            imagen: 'bug.svg',
            subtitulo: 'HyperPBX',
            titulo: ['FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer'],
            subImg: ['arg.svg'],
            lang: { C: 60, Deno: 0, "gCloud + Firebase": 0, Git: 40, Java: 60, Js: 60, MySql: 40, MongoDB: 0, "NodeJs + Express": 10, PHP: 60, Python: 10, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },
          {
            imagen: 'travel.svg',
            titulo: ['Mochilero', 'Backpacker', 'Mochileiro', 'Saccopelista', 'Motxiller'],
            subImg: ['arg.svg','bra.svg','chi.svg'],
            lang: { C: 60, Deno: 0, "gCloud + Firebase": 0, Git: 50, Java: 60, Js: 60, MySql: 50, MongoDB: 0, "NodeJs + Express": 10, PHP: 60, Python: 20, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },
          {
            imagen: 'tuerca.svg',
            subtitulo: 'Ministerio de Educación',
            titulo: ['FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer'],
            subImg: ['arg.svg'],
            lang: { C: 60, Deno: 0, "gCloud + Firebase": 10, Git: 60, Java: 70, Js: 70, MySql: 60, MongoDB: 20, "NodeJs + Express": 20, PHP: 70, Python: 30, React: 0, Vue: 0, "Blockchain + Polkadot": 0 }
          },
          {
            imagen: 'tuerca.svg',
            subtitulo: 'Ministerio de Educación',
            titulo: ['FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer'],
            subImg: ['arg.svg'],
            lang: { C: 60, Deno: 0, "gCloud + Firebase": 30, Git: 70, Java: 80, Js: 80, MySql: 70, MongoDB: 30, "NodeJs + Express": 40, PHP: 80, Python: 50, React: 10, Vue: 30, "Blockchain + Polkadot": 10 }
          },
          {
            imagen: 'proceso.svg',
            subtitulo: 'Mundo Estudiante',
            titulo: ['Profesor Prog', 'Dev Teacher', 'Professor Prog', 'Professore Prog', 'Professor Prog'],
            subImg: ['esp.svg'],
            lang: { C: 70, Deno: 0, "gCloud + Firebase": 50, Git: 80, Java: 80, Js: 85, MySql: 80, MongoDB: 40, "NodeJs + Express": 60, PHP: 80, Python: 80, React: 20, Vue: 50, "Blockchain + Polkadot": 30 }
          },
          {
            imagen: 'techarm.svg',
            subtitulo: 'Freelance/BBVA/Indra',
            titulo: ['FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer', 'FullStack Developer'],
            subImg: ['esp.svg'],
            lang: { C: 70, Deno: 20, "gCloud + Firebase": 90, Git: 95, Java: 95, Js: 95, MySql: 95, MongoDB: 70, "NodeJs + Express": 90, PHP: 80, Python: 95, React: 30, Vue: 95, "Blockchain + Polkadot": 50 }
          }
        ],
        //ticksLabels: Array.from({length: 12}, (_, i) => i + 2012),
      },
      mounted() {
        setTimeout(() => { this.loader = false }, 300)
        //console.log(this.array.length);
      },
      computed: {
        ticksLabels() {
          return Array.from({length: this.array.length}, (_, i) => i + 2012)
        }
      }
    })
  </script>
</body>
</html>